.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.top-bar .btn {
  width: 10rem;
}

.top-bar .top-bar-logo img {
  width: 3rem;
}

.top-bar-logo a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;

  p {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--base-100);

    span {
      font-weight: 100;
      font-style: italic;
    }
  }
}

.top-bar-cta .btn {
  margin: 0;
}

@media (max-width: 1024px) {
  .top-bar {
    padding: 1rem 1rem;
  }
}

@media (max-width: 768px) {
  .top-bar-logo a p {
    display: none;
  }
}