.featured-projects {
  position: relative;
  width: 100%;
  /* background-color: var(--base-500); */
  color: var(--base-100);
  padding: 1rem;
}

.featured-projects .featured-project-card {
  position: sticky;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}

.featured-projects .featured-project-card-inner {
  --card-aftercolor: #c3d2d9;
  position: relative;
  width: calc(100%);
  height: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  background-color: #c3d2d9;
  transform-origin: 50% 100%;
  will-change: transform;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.featured-projects .featured-project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.featured-projects .featured-project-card-content-main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.featured-projects .featured-project-card-info {
  width: 50%;
  padding: 2rem;
  text-align: left;
  color: var(--base-350);
}

.featured-projects .featured-project-card-title h2 {
  padding: 2rem 0 1rem 0;
}

.featured-projects .featured-project-card-description {
  width: 75%;
  text-align: left;
  color: var(--base-250);
}

.featured-projects .featured-project-card-img {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

.featured-projects .featured-project-card-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--card-aftercolor);
  opacity: var(--after-opacity, 0);
  will-change: opacity;
  pointer-events: none;
  z-index: 2;
}

@media (max-width: 1000px) {
  .featured-projects .featured-project-card-inner {
    flex-direction: column;
  }

  .featured-projects .featured-project-card-content,
  .featured-projects .featured-project-card-img {
    flex: 1;
  }

  .featured-projects .featured-project-card-info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .featured-projects .featured-project-card-title {
    width: 100%;
    text-align: center;
  }

  .featured-projects .featured-project-card-description {
    display: none;
  }
}